
.form-container {
    @media screen and (max-width: 510px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        #testForm {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                width: 100%;
            }
        }
    }
}
